.border{
    border: 2px solid red;
    margin: 3px;
}

.flax{
    display: flex;
}

.between{
    justify-content: space-between;
}

.justify-center{
    justify-content: center;
}

.item-center{
    align-items: center;
}

.bg-black{
    background-color: black;
    color: white;
}

.invert{
    filter: invert(1);
}

.bg-gray{
    background-color: #121212;
}

.rounded{
    border-radius: 7px;
}

.m-1{
    margin: 5px;
}

.m-20-0{
    margin: 20px 0;
}

.p-1{
    padding: 10px;
}
.w-1{
    width: max-content;
}
.w-2{
    width: 148px;
}
/* Webkit Scrollbar Styles */
::-webkit-scrollbar {
    width: 12px; /* width of the entire scrollbar */
  }
  
  ::-webkit-scrollbar-track {
    background: #333; /* color of the track */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #555; /* color of the scroll thumb */
    border-radius: 6px; /* roundness of the scroll thumb */
    border: 3px solid #333; /* border around the thumb */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #777; /* color of the scroll thumb on hover */
  }
  